default:
  image: docker:28.5-cli
  services:
    - name: docker:28.5-dind
      variables:
        HEALTHCHECK_TCP_PORT: "2376"

variables:
  DOCKER_HOST: tcp://docker:2376
  DOCKER_TLS_CERTDIR: "/certs"
  DOCKER_TLS_VERIFY: 1
  DOCKER_CERT_PATH: "$DOCKER_TLS_CERTDIR/client"

stages:
  - deploy

deploy:
  stage: deploy
  image: alpine/helm:3
  script:
    - mkdir -p ~/.kube
    - echo "$KUBECONFIG_CONTENT" | base64 -d > ~/.kube/config
    - chmod 600 ~/.kube/config
    - helm upgrade --install loadgenerator ./helm-loadgenerator --namespace default

workflow:
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
