default:
  image: docker:24.0.5-cli
  services:
    - name: docker:24.0.5-dind
      variables:
        HEALTHCHECK_TCP_PORT: "2376"
  before_script:
    - docker info

variables:
  DOCKER_HOST: tcp://docker:2376
  DOCKER_TLS_CERTDIR: "/certs"
  DOCKER_TLS_VERIFY: 1
  DOCKER_CERT_PATH: "$DOCKER_TLS_CERTDIR/client"

stages:
  - build
  - push
  - deploy

# --- Build Stage ---
build_container:
  stage: build
  image: docker:28.5
  services:
    - name: docker:28.5-dind
  script:
    - echo "Building Docker image..."
    - docker version
    - docker build -t "$IMAGE_NAME:$CI_COMMIT_SHORT_SHA" src/loadgenerator/
    - echo "Built image $IMAGE_NAME:$CI_COMMIT_SHORT_SHA"

# --- Push Stage ---
push_container:
  stage: push
  script:
    - echo "Logging in to GitLab Container Registry..."
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
    - docker tag "$IMAGE_NAME:$CI_COMMIT_SHORT_SHA" "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA"
    - docker push "$CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA"
    - echo "Pushed image $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA"

# --- Deploy Stage ---
deploy:
  stage: deploy
  image: alpine/helm:3.12.1
  script:
    - echo "Deploying $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA to Kubernetes"
    - helm upgrade --install "$CI_REGISTRY_IMAGE" ./helm-loadgenerator --set "image.tag=$CI_COMMIT_SHORT_SHA" --namespace default

# --- Trigger pipeline only on master ---
workflow:
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
