default:
  image: docker:28.5-cli
  services:
    - name: docker:28.5-dind
      variables:
        HEALTHCHECK_TCP_PORT: "2376"
  before_script:
    - docker info

variables:
  DOCKER_HOST: tcp://docker:2376
  DOCKER_TLS_CERTDIR: "/certs"
  DOCKER_TLS_VERIFY: 1
  DOCKER_CERT_PATH: "$DOCKER_TLS_CERTDIR/client"
  IMAGE_NAME: loadgenerator

stages:
  - build
  - deploy

# --- Build Stage ---
build_container:
  stage: build
  image: docker:28.5
  services:
    - name: docker:28.5-dind
  script:
    - echo "Building Docker image..."
    - docker build -t "$IMAGE_NAME:$CI_COMMIT_SHORT_SHA" src/loadgenerator/
    - echo "Built image $IMAGE_NAME:$CI_COMMIT_SHORT_SHA"

deploy:
  stage: deploy
  image: docker:28.5
  services:
    - name: docker:28.5-dind
  script:
    - apk add --no-cache curl tar gzip bash \
      && curl -sSL https://get.helm.sh/helm-v${HELM_VERSION}-linux-amd64.tar.gz | tar -xz \
      && mv linux-amd64/helm /usr/local/bin/helm \
      && rm -rf linux-amd64
    - echo "Deploying $IMAGE_NAME:$CI_COMMIT_SHORT_SHA to Kubernetes"
    - helm upgrade --install "$IMAGE_NAME" ./helm-loadgenerator --set "image.tag=$CI_COMMIT_SHORT_SHA" --namespace default

# --- Trigger pipeline only on master ---
workflow:
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
