default:
  image: docker:24.0.5-cli
  services:
    - name: docker:24.0.5-dind
      variables:
        HEALTHCHECK_TCP_PORT: "2376"
  before_script:
    - docker info

variables:
  DOCKER_HOST: tcp://docker:2376
  DOCKER_TLS_CERTDIR: "/certs"
  DOCKER_TLS_VERIFY: 1
  DOCKER_CERT_PATH: "$DOCKER_TLS_CERTDIR/client"
  IMAGE_NAME: loadgenerator

stages:
  - build
  - push
  - deploy

# --- Build Stage ---
build_container:
  stage: build
  image: docker:28.5
  services:
    - name: docker:28.5-dind
  script:
    - echo "Building Docker image..."
    - docker version
    - docker build -t "$IMAGE_NAME:$CI_COMMIT_SHORT_SHA" src/loadgenerator/
    - echo "Built image $IMAGE_NAME:$CI_COMMIT_SHORT_SHA"

# --- Push Stage ---
push_container:
  stage: push
  image: docker:28.5
  services:
    - name: docker:28.5-dind
  script:
    - echo "Pushing Docker image..."
    - docker login -u "dummy" -p "dummy" registry-docker-registry.registry.svc.cluster.local:5000
    - docker tag "$IMAGE_NAME:$CI_COMMIT_SHORT_SHA" registry-docker-registry.registry.svc.cluster.local:5000/$IMAGE_NAME:$CI_COMMIT_SHORT_SHA
    - docker push registry-docker-registry.registry.svc.cluster.local:5000/$IMAGE_NAME:$CI_COMMIT_SHORT_SHA

# --- Deploy Stage ---
deploy:
  stage: deploy
  image: alpine/helm:3.12.1
  script:
    - echo "Deploying $IMAGE_NAME:$CI_COMMIT_SHORT_SHA to Kubernetes"
    - helm upgrade --install "$IMAGE_NAME" ./helm-loadgenerator --set "image.tag=$CI_COMMIT_SHORT_SHA" --namespace default

# --- Trigger pipeline only on master ---
workflow:
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
